body
{
	background-color: black;
	color: lime;
	font-size: 18px;
	font-family: helvetica;
	text-align: center;
	box-sizing: border-box;
}
h1
{
	font-family: helvetica;
	text-align: center;
	color: aliceblue;
}
section
{
	text-align: justify;
}

p
{
	border: 3px solid lime;
	padding: 15px;
	margin: 20px;
	box-sizing: border-box;
}

.txt1
{
	color: darkblue;
}

.txt2
{
	color: aliceblue;
}

.txt3
{
	color: darkred;
}

ul li
{
	display: inline-block;
}

.conteneur
{
	display: inline-flex;
}

li
{
	border: 1px solid lime;
}


.lg3
{
	width: calc(100%/3);
}

@media screen and (max-width:850px)
{
	.conteneur
	{
		display: block;
		margin: auto;
		box-sizing: border-box;
		width: 90%;
	}
	.md
	{
		width: calc(100%/1);
	}

}

@media  screen and (max-width:650px)
{
	.sm1
	{
		width: calc(100%/1);
	}

	ul li
	{
		visibility: hidden;
	}
	.conteneur
	{
		width: 100%;
	}

	.txt1, .txt3
	{
		color: blue;
	}
	.txt2
	{
		color: aliceblue;
	}
	.bruh
	{
		color: blue;
	}
}