/* CSS Caroussel */

h1{
	color: white;
	display: flex;
	justify-content: center;
	font-family: Helvetica;
}

body {
	background-color: black;
}

.conteneur{ /*conteneur principal*/;
	height: 600px;
	width: 1000px;
	background-color: black;
	border-radius: 15px;
	text-align: center;
	perspective:800px;
	border: 1px solid white;
}

.conteneur1{ /*conteneur qui se déplace dans le premier */
	position: relative;
	animation: déplacement 5s infinite linear;
}

.conteneur2{ /* Qui tourne sur lui même */
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 1.5s infinite linear;
}
.conteneur2 div{
	top: 0;
	left: 0;
	margin: 0px;
	height: 10px;
	width: 10px;
	padding: 10px;
	border: 3px solid black;
	border-radius: 5px;
	position: absolute;
}

.carre1{
	border: 1px solid white;
	background-color: #4CFFBB;
	transform: rotateY(0deg) translateZ(75px);
}

.carre2{
	border: 1px solid white;
	background-color: white;
	transform: rotateY(60deg) translateZ(75px);
}

.carre3{
	border: 1px solid white;
	background-color: #007F4F;
	transform: rotateY(120deg) translateZ(75px);
}

.carre4{
	border: 1px solid white;
	background-color: white;
	transform: rotateY(180deg) translateZ(75px);
}

.carre5{
	border: 1px solid white;
	background-color: lightgreen;
	transform: rotateY(240deg) translateZ(75px);
}

.carre6{
	border: 1px solid white;
	background-color: white;
	transform: rotateY(300deg) translateZ(75px);
}

@keyframes rotation{
	0%{
		transform: rotateY(-360deg) rotateX(-360deg);
	}

	100%{
		transform: rotateY(0deg) rotateX(0deg);
	}
}

@keyframes déplacement{
	0%{
		top: 100px; /*Haut à gauche */
		left: 100px;
	}

	25%{
		top: 500px; /* bas à droite */
		left: 800px;
	}

	50%{
		top: 100px; /* haut à droite */
		left: 800px;
	}

	75%{
		top: 500px; /* bas à gauche */
		left: 100px;
	}

	100%{
		top: 100px; /* haut à gauche */
		left: 100px;
	}
}

.dan { /*easter egg */
	display: flex;
	justify-content: center;
	height: 20px;
	width: 20px;
}
body {
    -moz-animation: blinker 0.1s infinite;
}

@-webkit-keyframes blinker {
   from { background-color: white; }
   to { background-color: black; }
 }
