/* CSS loading (Animation de chargement) */
h1 {
  display: flex;
  justify-content: center;
  font-family: helvetica;
  color: white;
}
body {
  background-color: black;
}
.conteneur {
  display: flex;
  justify-content: center;
  background-color: black;
}

.loading1{
  height: 200px;
  box-sizing: border-box;
  border:2px solid black;
  background:black;
  position: relative;
  border-radius:50%;
  animation-name: changement;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  opacity: 0.1;

}

.loading2{
    height: 200px;
    box-sizing: border-box;
    border:2px solid black;
    background:black;
    position: relative;
    border-radius:50%;
    animation-name: changement;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    opacity: 0.1;

}

.loading3{
    height: 200px;
    box-sizing: border-box;
    border:2px solid black;
    background:black;
    position: relative;
    border-radius:50%;
    animation-name: changement;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    opacity: 0.1;

}

@-moz-keyframes changement{
    0% {opacity: 1;}
    25% {background: 0.6;}
    50% {background: 0.3;}
    75% {background: 0.6;}
    100%{background: 1;}
}
