/* CSS Menu */

h1{
	color: white;
	display: flex;
	justify-content: center;
	font-family: Helvetica;
}

body {
	background-color: black;
}
div {
  display: flex;
  justify-content: center;
}
.image
{
    width: 200px;
    height: 200px;
    background: black;
    border-radius: 20px;
    transition: height 2s;
}

.image:hover
{
    height: 600px;
}
body:hover {
	-moz-animation: blinker 0.1s infinite;
}
@-webkit-keyframes blinker {
	 from { background-color: white; }
	 to { background-color: black; }
 }
