/* Exercice 1 */
.jaune {
  background-color: #4CFFBB;
  padding: 20px;
  border: 2px solid black;
}
.bleu {
  background-color:  #007F4F;
  padding: 20px;
  border: 2px solid black;
}
.vert {
  background-color: black;
  padding: 20px;
  border: 2px solid black;
}
h1 {
  font-weight: bold;
  font-style: italic;
}
body {
  background-color: #FFFBF4;
}
