/* Exercice 8 */
body
{
	border: 3px solid #267F5D;
  text-align: justify;
	position: relative;
  color: #267F5D;
  height: 1000px;
  background-color: black;
}

ul
{
  position: -webkit-sticky;
	float: left;
	position: sticky;
	top: 0;
	background-color: #267F5D;
	opacity: 1;
	border-radius: 18px;
	list-style: none;
	padding: 35px 55px;
	color: white;
	margin: 25px;
}

div
{
  padding: 75px;
	position: relative;
}

h1 {
  font-weight: bold;
  font-style: italic;
  text-align: justify;
  display: flex;
  justify-content: center;
  color: white
}
