body {
  background-image:linear-gradient(black,black,DarkBlue);
  height: 100vh;
}

a {
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

h1{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  background-color: black;
  color: white;
}
li {
  list-style: none;
}
p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.introduction {
  background-color: black;
  color: white;
}

.exercices_CSS {
  background-color: #BFB9A6;
  font-size: 24px;
  border: 1px solid black;
}

.flex {
  background-color: #E5DEC7;
  font-size: 24px;
  border: 1px solid black;
  flex:20%;
}

.Mondrian {
  background-color: #BFB9A6;
  font-size: 24px;
  border: 1px solid black;
  flex:20%;
}

.CV {
  background-color: #E5DEC7;
  font-size: 24px;
  border: 1px solid black;
  flex:20%;
}
.responsive {
  background-color: #E5DEC7;
  font-size: 24px;
  border: 1px solid black;
  flex:20%;
}
.squelette {
  background-color: #BFB9A6;
  font-size: 24px;
  border: 1px solid black;
  flex:20%;
}

.flextest {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex:20%;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navy {
  color: navy;
}
.bonus {
  display: flex;
  justify-content: center;
}
.loader {
  border-top: 14px solid #007F6D;
  border-right: 14px solid  #00FFD9;
  border-bottom: 14px solid #007F6D;
  border-left: 14px solid #3DFFFA;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: bruh 4s linear infinite;
}

@keyframes bruh {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}
